#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1


# This has to be exported to make some magic below work.
export DH_OPTIONS

INS=$(shell pwd)/debian/apache-suexecuser
LIBEXECDIR=$(shell apxs2 -q LIBEXECDIR 2>>/dev/null)

build: build-stamp
build-stamp:
	dh_testdir

	# Add here commands to compile the package.
	cd c && $(MAKE)

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp

	# Add here commands to clean up after the build process.
	cd c && $(MAKE) clean
	#$(MAKE) distclean

	dh_clean -d
	rm debian/apache-suexecuser.substvars debian/apache-suexecuser.debhelper.log || true
	rm debian/files || true
	# debian/autoversion.sh

install: DH_OPTIONS=
install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs

	# Add here commands to install the package into debian/tmp.
	mkdir -p ${INS}/usr/lib/apache2/suexecdir/
	mkdir -p $(INS)$(LIBEXECDIR)
	mkdir -p $(INS)/etc/apache2/mods-available/
	install c/suexec-cgiuser ${INS}/usr/lib/apache2/suexecdir/cgiuser
	install c/suexec-user ${INS}/usr/lib/apache2/suexec-user
	install c/mod_cgisuexecuser.so ${INS}$(LIBEXECDIR)/mod_cgisuexecuser.so
	install --mode 644 cgisuexecuser.load ${INS}/etc/apache2/mods-available/cgisuexecuser.load
	install --mode 644 apache-suid ${INS}/etc/apache2/apache-suid
	install --mode 644 apache-suid ${INS}/usr/lib/apache2/.apache-suid

	#$(MAKE) prefix=`pwd`/debian/tmp/usr install

	dh_install

# This single target is used to build all the packages, all at once, or
# one at a time. So keep in mind: any options passed to commands here will
# affect _all_ packages. Anything you want to only affect one package
# should be put in another target, such as the install target.
binary-common:
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installexamples
	dh_installmenu
#	dh_installdebconf
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installcatalogs
#	dh_installpam
#	dh_installmime
#	dh_installinit
#	dh_installman
#	dh_installcron
#	dh_installinfo
#	dh_installwm
#	dh_installudev
#	dh_lintian
#	dh_bugfiles
#	dh_undocumented
	dh_strip
	dh_link
	dh_compress
#	dh_fixperms
#	dh_perl
#	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

# Build architecture independant packages using the common target.
binary-indep: build install
# (Uncomment this next line if you have such packages.)
#	 $(MAKE) -f debian/rules DH_OPTIONS=-i binary-common

# Build architecture dependant packages using the common target.
binary-arch: build install
	$(MAKE) -f debian/rules DH_OPTIONS=-a binary-common
	# autoversion for the next one

# Any other binary targets build just one binary package at a time.
binary-%: build install
	make -f debian/rules binary-common DH_OPTIONS=-p$*

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary-common binary install
%:
	dh $@ 
